# Android GitIgnore
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build

# Generated APKs
*.apk

# Logging
build_log.txt

# Large files
*.hprof

# Security - CRITICAL: Never push these files to a public repository
**/serviceAccountKey.json
**/serviceACcountKey.json
**/env.yaml
backend/expedition-backend
